.header {
    color: $gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;

    .header__container {
        display: flex;
    }

    .header__top {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fe8782;
        color: #fff;
        font-size: 14px;
    }

    .header__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        background: #fff;
        width: 100vw;

        .header__container {
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            max-width: 1170px;
        }
    }

    .header__menu {
        display: flex;
        width: 500px;

        .menu__link {
            color: $gray;
            margin-right: 15px;
            font-size: 14px;
            text-transform: uppercase;
            transition: .3s;
            
            &:hover {
                color: $blue;
            }
        }
    }

    .header__socials {
        display: flex;
        width: 500px;
        justify-content: flex-end;
        
        .socials__item {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            .item__link {
                color: $gray;
            }

            .link__img {
                height: 20px;
            }
        }
    }
}