.hero {
    height: 100vh;
    background: url('../img/hero-bg.png');
    background-size: cover;
    padding-top: 90px;

    @include phones() {
        height: 60vh;
        padding-top: 170px;
    }

    .hero__container {
        height: 100%;
        align-items: center;
        justify-content: center;
        background: url('../img/hero-bg-text.png') no-repeat center;
        background-size: contain;
    }

    .hero__title {
        color: #fff;
        font-size: 65px;
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;

        @include phones() {
            font-size: 32px;
        }
    }
}