.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 400px;
    height: 400px;
    background: #fff;
    top: 50%;
    left: -50%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 200;
    padding: 40px 20px;
    transition: .3s;
    text-align: center;

    @include phones() {
        width: 100%;
        height: 450px;
        margin-top: -225px;
    }

    .popup__subtitle {
        margin-bottom: 40px;
    }

    .form__exit {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 40px;
        color: #8368ff;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
    }

    .popup__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .form__inp {
            width: 100%;
            height: 40px;
            padding: 10px;
            margin-bottom: 20px;
        }

        .form__btn {
            height: 50px;
            width: 200px;
            background: #8368ff;
            color: #fff;
            border: none;
            font-size: 18px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    &--active {
        left: 50%;

        @include phones() {
            left: 0;
            margin-left: 0;
        }
    }
}

.bg {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $gray;
    opacity: .5;
    z-index: 200;

    &--active {
        width: 100vw;
    }
}